@import '../../../styles/config/all';

:host {
  display: block;
}

.tabs {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 15px;

  &__item {
    background: transparent;
    border: none;
    color: white;
    font-size: 24px;

    &--inactive {
      color: rgba($color-white, 60%);
    }
  }
}
