:host {
  display: block;
}

swiper {
  ::ng-deep {
    .swiper-slide {
      display: flex;
      justify-content: space-around;
    }

    .swiper-slide-prev {}

    .swiper-slide-next {
      justify-content: flex-start;
    }
  }
}
