@import '../../../styles/config/all';

:host {
  display: block;
}

.machines-decorator {
  background-color: $color-black;
  border-radius: 8px;
  display: block;
  height: 15px;
  width: 30px;
  margin: 6vh auto 5vh;
}

swiper {
  ::ng-deep {
    .swiper-slide {
      display: flex;
      justify-content: space-around;
    }
  }
}
