@import '../../../styles/config/all';

$animation-duration: 2s;
:host {
  display: block;
  position: relative;
}

@keyframes cursorAnimation {
  0% {transform: translateX(0px); visibility: visible;}
  50% {transform: translateX(200px);}
  100% {transform: translateX(0px); visibility: hidden;}
}

@keyframes backdropAnimation {
  0% {visibility: visible;}
  100% {visibility: hidden;}
}

.help {
  bottom: 0;
  position: absolute;
  width: 260px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  &__image {
    display: block;
    height: 56px;
    width: 56px;
    animation-name: cursorAnimation;
    animation-duration: $animation-duration;
    visibility: hidden;

    img {
      width: 100%;
    }
  }
}

.help-backdrop {
  animation-name: backdropAnimation;
  animation-duration: $animation-duration;
  background-color: rgba($color-black, .4);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
}
