:host {
  display: block
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 16px;

  &__button {
    background: transparent;
    border: none;
    height: 22px;
    width: 22px;
    padding: 0;

    > img {
      width: 100%;
    }
  }
}
